<header class="title colorful-border">
  <nav>
    <a href="/index.html" class="titlelink">Home</a>
    <a href="/pages/page2.html" class="titlelink">About Me</a>
    <a href="/pages/projects.html" class="titlelink">Projects</a>
    <a href="/pages/resume.html" class="titlelink">Resume</a>

  </nav>
</header>
<div class="menu-container">
  <button class="menu-button" aria-label="Open menu"></button>
  <div class="menu-content">
    <a href="/index.html">Home</a>
    <a href="/pages/page2.html">About Me</a>
    <a href="/pages/projects.html">Projects</a>
    <a href="/pages/resume.html">Resume</a>
    <a href="/pages/page3.html">Secret Project</a>
    <a href="/pages/survey.html">Survey</a>
  </div>
</div>
