/* title bar*/
.title {
  height: 4.2em;
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: Calibri;
  width: 100%;
  background-color: rgb(17, 17, 17);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 100px rgba(6, 60, 255, 0.308);
}
.titlelink {
  text-decoration: none;
  font-weight: lighter;
  color: azure;
  font-size: 1.45em;
  margin-left: 1em;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.titlelink:hover {
  color: white;
  text-shadow: 0 0 1px #009dc4, 0 0 2px #009dc4, 0 0 2px #009dc4,
  0 0 2px #2c00be, 0 0 3px #003bc486, 0 0 3px #009dc4, 0 0 2px #009dc4;
  font-weight: 400;
  transform: scale(1.1); /* Makes the words pop up */
}



/* footer styling*/
.footer {
  height: 4.2em;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}




/* dropdown menu */
.menu-container {
  position: absolute;
  right: 1em;
  top: 5%;
  transform: translateY(-50%);
}
.menu-button {
  background: url('images/menu.png') no-repeat center center;
  background-size: contain;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  border-radius: 10%; /* Makes the corners of the image rounded */
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); /* Drop shadow to the bottom and right */
}
.menu-button:hover {
  box-shadow: 0 0 10px #00aeffa9;
  transform: scale(1.1); /* Slightly enlarges the menu button */
}
.menu-content {
  display: none;
  position: absolute;
  right: 0;
  font-family: "Calibri";
  background-color: #1e1e1e9b;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
.menu-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.menu-content a:hover {
  background-color: #575757;
}
.menu-container:hover .menu-content,
.menu-container .menu-content:hover {
  display: block;
  opacity: 1;
}
.menu-container:hover .menu-content {
  animation: stayVisible 5s forwards;
}




/* general formatting */
h1 {
  color: rgb(228, 228, 228);
  font-family:  Calibri;
  margin: 1;
  padding: 1;
  font-size: 2.5rem;
  text-shadow: 
   -2px -2px 0 rgb(23, 39, 39), 
    2px -2px 0 rgb(23, 39, 39),
   -2px 2px 0 rgb(23, 39, 39), 
    2px 2px 0 rgb(23, 39, 39);
}
body {
  background-image: url("images/back.jpg");
  background-size: 110% auto;
  background-position: center top;
  background-color: rgb(0, 0, 0);
  background-attachment: fixed; 
}
.center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 30%;
}




/* profile pic format */
.center {
  position: absolute;
  top: 22%; 
  left: 22%;
  transform: translateX(-50%);
  width: 22%;
  height: auto;
  border-radius: 70%;
  object-fit: cover;
}




/* bio-box for page2 */
.bio-box {
  font-family: Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.7);
  left:30%;
  top:50%;
  color: white;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  border-radius: 10px;
}



/* video formatting */
video{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.indent {
  text-indent: 50px;
}



/* audio formatting */
audio {
  filter: invert(1); /* Inverse colors */
  border-radius: 25px;
}
.audio-style {
  margin-left: 40px;
  box-shadow: 0 0 10px rgba(255, 81, 0, 0.507);
}



/* button formatting for bottom left*/
.icon-button {
  padding: 0px;
  margin: 4px;
  border: 1px solid darkslategray;
  background: rgb(39, 39, 39);
  border-radius: 0;
}
.icon-button img {
  width: 50px;
  height: 50px;
}
.icon-button:hover {
  box-shadow: 0 0 20px #3cceffd7;
  transform: translateY(-5px);
}
.icon-button a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.icon-button a:hover {
  background-color: #575757;
}



/* glowing border for face icon, icon cards, and bottom of */
@keyframes borderColorChange {
  0% { box-shadow: 0 0 10px rgba(6, 6, 255, 0.15); }
  20% { box-shadow: 0 0 25px rgba(6, 7, 255, 0.17); }
  30% { box-shadow: 0 0 40px rgba(6, 8, 255, 0.19); }
  40% { box-shadow: 0 0 65px rgba(6, 9, 255, 0.21); }
  50% { box-shadow: 0 0 80px rgba(6, 10, 255, 0.23); }
  60% { box-shadow: 0 0 95px rgba(6,11, 255, 0.25); }
  70% { box-shadow: 0 0 80px rgba(6, 10, 255, 0.23); }
  80% { box-shadow: 0 0 65px rgba(6, 9, 255, 0.21); }
  90% { box-shadow: 0 0 40px rgba(6, 8, 255, 0.19); }
  100% { box-shadow: 0 0 25px rgba(6, 7, 255, 0.17); }
}
.colorful-border {
  animation: borderColorChange 5s infinite;
  border: none;
}



/* profile bio for main page */
.subtitle-text {
  font-size: 32px;
  position: absolute;
  left: 35%;
  top: 29%;
  text-shadow: 1px 1px 2px grey;
}
.bio-textbox {
  font-family: 'Calibri';
  width: 20%;
  position: absolute;
  left: 45%;
  top: 36%;
  transform: translateX(-50%);
  font-weight: lighter;
  font-size: 20px;
}



/* rainbow button for resume*/
@keyframes rainbowBorder {
  0% { border-color: rgba(255, 0, 0, 0.4); }
  14% { border-color: rgba(255, 166, 0, 0.4); }
  28% { border-color: rgba(255, 255, 0, 0.4); }
  42% { border-color: rgba(0, 128, 0, 0.4); }
  57% { border-color: rgba(0, 0, 255, 0.4); }
  71% { border-color: rgba(76, 0, 130, 0.4); }
  85% { border-color: rgba(238, 130, 238, 0.4); }
  100% { border-color: rgba(255, 0, 0, 0.4); }
}
@keyframes rainbowText {
  0% { text-shadow: 0 0 5px rgba(255, 0, 0, 0.4); }
  14% { text-shadow: 0 0 5px rgba(255, 166, 0, 0.4); }
  28% { text-shadow: 0 0 5px rgba(255, 255, 0, 0.4); }
  42% { text-shadow: 0 0 5px rgba(0, 128, 0, 0.4); }
  57% { text-shadow: 0 0 5px rgba(0, 0, 255, 0.4); }
  71% { text-shadow: 0 0 5px rgba(76, 0, 130, 0.4); }
  85% { text-shadow: 0 0 5px rgba(238, 130, 238, 0.4); }
  100% { text-shadow: 0 0 5px rgba(255, 0, 0, 0.4); }
}
.rainbow-button {
  font-size: 20px;
  padding: 10px 20px;
  border: 2px solid;
  border-radius: 18px;
  background: transparent;
  cursor: pointer;
  font-family: Calibri;
  animation: rainbowText 5s linear infinite, rainbowBorder 5s linear infinite;
  text-decoration: none;
  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  position: absolute;
  left: 34.9%;
  top: 56%;
  color: rgba(255, 255, 255, 0.718); /* Transparent white text */
}
.rainbow-button:hover {
  background: linear-gradient(45deg, #1118537c, #29687c86);
  transform: scale(1.1);
  color: white; /* White text on hover */
  animation: rainbowText 5s linear infinite, rainbowBorder 5s linear infinite; /* Continue animation on hover */
  box-shadow: 0 0 20px rgba(0, 123, 255, 0.3); /* Blue hue glow */
}




/* image cards for resources*/
.image-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: absolute;
  left: 74%;
  top: 19%;
  transform: translateX(-50%);
}
.image-card {
  position: relative;
  border: 2px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 4px 0 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  width: fit-content;
}
.image-card:hover {
  box-shadow: 0 4px 16px #00a2ffef, 4px 0 16px rgba(34, 208, 231, 0.732);
  transform: scale(1.05);
}
.image-card img {
  width: 300px;
  height:150px;
}
.text-box {
  position: absolute;
  bottom: 0;
  background: rgba(5, 5, 5, 0.71);
  width: 280px;
  height:40px;
  font-family: "Calibri";
  font-size: 1.3em;
  color: rgba(255, 255, 255, 0.594);
  padding: 10px;
  text-align: left;
  transition: color 0.3s;
}
.image-card:hover .text-box {
  color: rgba(255, 255, 255, 1);
}



/* Phone Friendly Styles */
@media (max-width: 600px) {
  .title {
    font-size: 1em;
  }
  .image-cards-container {
    position: static;
    margin-top: 90px;
  }
  .center {
    width: 80%;
    right: 50%;
    transform: translateX(-50%);
  }
  .bio-box {
    width: 90%;
    right: 50%;
    transform: translateX(-50%);
  }
  .rainbow-button {
    right: 50%;
    top: auto;
    transform: translateX(-50%);
    margin-top: 20px;
  }
}