h1{
    color: rgb(228, 228, 228);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('269.jpg');
    background-size:100% 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(0, 0, 0);
}

button{
    background-color: rgb(23, 39, 39);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%
  }

  .center2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: 65%
  }
  
